.hero-title{
    text-align: center;
    color: blue;
    font-size: 50px;
    border: 1px solid red;
    height: 200px;
}#form{
    border: 1px solid green;
    margin-left: 64px;
    margin-right: 64px;
}#buton{
    padding: 16px;
    color: white;
    background-color: green;
    margin-left: 24px;
    margin-top: 32px;
}.messages{
    margin-top: 32px;
    font-size: 20px;
    text-align: center;
}

.TRUE-VALUES{
    display: none;
}.WRONG-NAME{
    display: none;
}.WRONG-SURNAME{
    display: none;
}.WRONG-YEAR{
    display: none;
}.WRONG-USERNAME{
    display: none;
}.WRONG-PASSWORD{
    display: none;
}.WRONG-NAME-LENGTH{
    display: none;
}

.GO-SIGNIN{
    display: none;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
}.LINK{
    display: none;
    color: blue;
}