doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://example-chat-system.herokuapp.com/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    title Admin Page
    style
      include admin.css
    script
      include admin.js
  body
    .hero
      h1.hero-title Admin Page
    hr.privateHR-1
    .DataBaseHome
      h3.text Veri tabanına kayıtlı kullanıcılar
      hr.privateHR-2
    .form
      .form-text Lütfen alanı doldurunuz
      form#form
        input#username(type='text', autocomplete='off')
        |  Kullanıcı adı? 
        br
        br
        input#password(type='password', autocomplete='off')
        |  Şifre? 
        br
        br
        .butonHome
          input#buton(type='submit')
    .DATAS
      .DataBase
        // User datas
      .addAdminHome
        button.addAdmin Admin ekle
    .ADD_ADMIN_PAGE
      form#AdminForm
        input#name_admin.add_input(type='text', autocomplete='off')
        |  İsim 
        br
        br
        input#surname_admin.add_input(type='text', autocomplete='off')
        |  Soyisim 
        br
        br
        input#year_admin.add_input(type='number', autocomplete='off')
        |  Yaş 
        br
        br
        input#username_admin.add_input(type='text', autocomplete='off')
        |  Kullanıcı adı 
        br
        br
        input#password_admin.add_input(type='password', autocomplete='off')
        |  Şifre 
        br
        br
        .addingButonHome
          input#addingButton(type='submit')
          button.goBackAdminPage Geri dön
      .messages
        .WRONG_NAME_ADD İsim girmediniz
        .WRONG_SURNAME_ADD Soyisim girmediniz
        .WRONG_YEAR_ADD Yaş girmediniz
        .WRONG_USERNAME_ADD Kullanıcı adı girmediniz
        .WRONG_PASSWORD_ADD Şifre girmediniz
        .TRUE_SAVE_ADMIN Başarıyla kayıt olundu