body{
    background-color: green;
}.hero{
    background-color: white;
    min-height: 450px;
    margin-top: 5%;
    min-width: 800px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}.onlineCounts{
    margin-top: 36px;
    font-size: 20px;
}.counts{
    border: 1px solid red;
    height: 100px;
}.messages-size{
    border: 1px solid red;
    height: 350px;
    font-size: 17px;
    overflow-y: auto;
}.messages-1{
    background-color: lightgreen;
    max-width: 200px;
    margin-left: 600px;
}.messages_all{
    margin-left: 6px;
}.messages-2{
    background-color: rgb(66, 65, 65);
    max-width: 200px;
}