doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://example-chat-system.herokuapp.com/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    title LogIn
    style
      include style.css
    script
      include LogIn.js
  body
    .hero
      h1.hero-title Kayıt Formu
    form#form
      table.table
        tbody
          tr
            td
              input#name(type='text', autocomplete='off')
            td İsim ?
          tr
            td
              input#surname(type='text', autocomplete='off')
            td Soyisim ?
          tr
            td
              input#year(type='number', autocomplete='off')
            td Yaş ?
          tr
            td
              input#username(type='text', autocomplete='off')
            td Kullanıcı adı ?
          tr
            td
              input#password(type='password', autocomplete='off')
            td Şifre ?
      br
      input#buton(type='submit')
    .messages
      .TRUE-VALUES Başarıyla kayıt olundu.
      .WRONG-NAME İsim girmediniz !
      .WRONG-SURNAME Soyisim girmediniz !
      .WRONG-YEAR Yaş girmediniz !
      .WRONG-USERNAME Kullanıcı adı girmediniz !
      .WRONG-PASSWORD Şifre girmediniz !
      .WRONG-NAME-LENGTH
    .GO-SIGNIN
      a.LINK(href='/SignIn') Giriş yap