doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='http://localhost:3000/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    title SıgnIn
    style
        include style.css
    script
        include SıgnIn.js
  body
    h1.hero-title Sıgn In
    form(id='SıgnInForm')
      table.table
        tbody
          tr
            td
              input#username(type='text')
            td Kullanıcı adınız ?
          tr
            td
              input#password(type='password')
            td Şifreniz ?
      input#Buton(type='submit')
    .messages
      .WRONG_USERNAME Kullanıcı adınızı girmediniz !
      .WRONG_PASSWORD Şifrenizi girmediniz !
      .TRUE_SIGNIN
      .WAIT-1 Doğrulanıyor.
      .WAIT-2 Doğrulanıyor..
      .WAIT-3 Doğrulanıyor...
    .LINKHOME
      a.LINK(href='/Chat') Siteye geçiş yapabilirsin