.CHAT{
    display: none;
}
.hero-title{
    text-align: center;
    color: blue;
    font-size: 50px;
    border: 1px solid red;
    height: 200px;
}#buton{
    padding: 16px;
    color: white;
    background-color: green;
    margin-left: 24px;
    margin-top: 32px;
}#Buton{
    padding: 16px;
    color: white;
    background-color: green;
    margin-top: 32px;
}#form{
    border: 1px solid green;
    margin-left: 64px;
    margin-right: 64px;
}.links{
    text-align: center;
    font-size: 20px;
}.LogIn{
    margin-right: 32px;
    text-decoration: none;
    color: blue;
}.SıgnIn{
    margin-left: 32px;
    text-decoration: none;
    color: blue;
}#SıgnInForm{
    border: 1px solid green;
}.name{
    color: blue;
}

.WRONG_ACCOUNT{
    display: none;
}.TRUE-VALUES{
    display: none;
}.WRONG-NAME{
    display: none;
}.WRONG-SURNAME{
    display: none;
}.WRONG-YEAR{
    display: none;
}.WRONG-USERNAME{
    display: none;
}.WRONG-PASSWORD{
    display: none;
}.WRONG_USERNAME{
    display: none;
}.WRONG_PASSWORD{
    display: none;
}.WRONG-NAME-LENGTH{
    display: none;
}.WAIT-1{
    display: none;
}.WAIT-2{
    display: none;
}.WAIT-3{
    display: none;
}.LINK{
    display: none;
    color: blue;
}.LINKHOME{
    display: none;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
}.GO-SIGNIN{
    display: none;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
}

.messages{
    margin-top: 32px;
    font-size: 20px;
    text-align: center;
}




.heroChat{
    background-color: white;
    min-height: 450px;
    margin-top: 5%;
    min-width: 800px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}.onlineCountsChat{
    margin-top: 36px;
    font-size: 20px;
}.countsChat{
    border: 1px solid red;
    height: 100px;
}.messages-sizeChat{
    height: 350px;
    font-size: 17px;
    overflow-y: auto;
    background-color: green;
}.messages-1Chat{
    background-color: lightgreen;
    max-width: 200px;
    margin-left: 580px;
    margin-top: 5px;
    border-radius: 10px;
}.messages_allChat{
    color: black;
    margin-left: 6px;
}
.messages-2Chat{
    background-color: grey;
    max-width: 200px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 10px;
}#butonChat{
    padding: 1px 21px;
}#formChat{
    background-color: green;
}.OnlinePeople{
    max-width: 150px;
    height: 100px;
    border: 1px solid red;
    margin-left: 10px;
}